	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/img/shp.png" class="img-responsive" alt="">
		</div>
		
		<section class="container animated fadeInDown notransition">

This is the Admin Home.

<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>