	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- BLOG
================================================== -->
		<section class="container animated fadeInDown notransition">
			<div class="row col-md-12">
				<div class="col-md-6" style="padding:0;">
				  <h4>New Post</h4>
				</div>
				<div class="col-md-6" style="text-align:right;">
					<%= link_to 'Cancel Post', posts_path, :class => "label label-danger" %>
				</div>
			</div>
			
<%= render 'form' %>

